@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


.logo {
    font-family: 'Square Peg', cursive;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    color: var( --color-secondary-deep);
}


.logo .icon {
    font-size: 15px;
    margin-left: 5px;
}