
.createblog {
    padding-top: 100px;
}

.createblog-input {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    gap: 15px;
}

.error-msg {
    color: red;
}

.createblog-title input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    background: none;
    color: var(--color-secondary-deep);
    outline: none;
    width: 300px;
    font-weight: bold;
    font-size: 16px;
}

.createblog-image label {
    background: var(--color-primary);
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.createblog-image input {
    display: none;
}

.createblog-image span {
    margin-left: 10px;
}

.createblog-input-image {
    width: 300px;
    margin: 0 auto 10px;
}

.createblog-input-image img {
    border-radius: 20px;
}

.createblog-btn {
    margin-top: 20px;
}

.createblog-btn .btn {
    border-radius: 50px;
}

.select-field {
    padding: 5px 10px;
    text-align: center;
    background: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 7px;
}

.ql-editor{
    min-height: 300px;
    overflow: scroll;
}

@media(max-width: 960px) {
    .createblog-input {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .createblog-image {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}