

header {
    position: fixed;
    width: 100%;
    z-index: 55;
    background: var(--bg-secondary);
}

.HamburgerMenu {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-bar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media QUeries */
@media (max-width: 960px) {
    .nav-bar nav {
        display: none;
    }

    .HamburgerMenu {
        display: block;
    }
}