.blog-detail .container {
    margin-top: 100px;
    background: #fff;
}

.blog-detail .blog-image {
    margin-bottom: 0;
}

.blog-detail .container .content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    word-break: break-all;
}

