.modal-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background: rgba(56, 56, 56, 0.405);
    top: 0;
}

.modal {
    background: #fff;
    width: 250px;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
}

.modal-icon {
    font-size: 30px;
    color: var(--color-secondary-deep);
}