.BlogNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BlogNav a:hover {
    text-decoration: underline;
    color: var(--color-secondary);
}

@media (max-width: 760px) {
    .BlogNav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        justify-items: center;
    }
}