.showcase {
    height: 100vh;
    padding-top: 100px;
}

.showcase-content .btn {
    margin-top: 10px;
    text-align: center;
}

.showcase-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

@media(max-width: 960px) {
    .showcase-content-container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .showcase-image {
        width: 350px;
    }

    .showcase-content {
        text-align: center;
    }
}

@media(max-width: 500px) {

    .showcase-image {
        width: 250px;
    }

    .showcase-content {
        text-align: center;
    }
}