body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-secondary);
}

:root {
  --bg-secondary: #eae7dc;
  --bg-primary: #d8c3a5;
  --color-primary: #000000;
  --color-secondary: #e98074;
  --color-secondary-deep: #e85a4f;
  --transition: 400ms ease;
  --container-lg: 80%;
  --container-md: 86%;
  --container-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  list-style: none;
  color: var(--color-secondary-deep);
  text-decoration: none;
  transition: var(--transition);
}

button {
  background: none;
  outline: none;
  border: none;
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: var(--color-secondary-deep);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secondary);
}

.btn-outline {
  background: none;
  border: 1px solid var(--color-secondary);
  border-radius: 0;
  color: #000000;
  font-weight: bold;
}

.btn-outline:hover {
  color: #fff;
}

li {
  list-style: none;
}

section {
  margin: 20px auto;
}

section h1 {
  color: var(--color-secondary-deep);
  font-size: 40px;
}

p {
  color: var(--color-primary);
}

img {
  width: 100%;
  object-fit: cover;
}


/* Media Queries */
@media (max-width: 960px) {
  /* Mobile Hamburger */
  .container {
    width: var(--container-md);
  }
  
}

@media (max-width: 500px) {
  .container {
    width: var(--container-sm);
  }
  
}
