.login {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.login-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-image {
    width: 200px;
    margin: auto;
}

.login-heading h2 {
    margin-bottom: 0;
}

.login-form {
    background: #fff;
    max-width: 400px;
    margin: auto;
    border-radius: 15px 15px 0 0;
    padding: 20px 20px 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.login-form a {
    font-weight: bold;
}

.login-detail {
    display: flex;
    flex-direction: column;
    margin: 0px 0 10px;
}

.login-detail label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-detail input {
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid var(--color-secondary-deep);
    outline-color: var(--color-secondary-deep);
}

.login-form .btn {
    margin-top: 40px;
}

@media (max-width: 500px) {
    .login-form {
        background: none;
        box-shadow: none;
        display: flex;
        max-width: 300px;
        flex-direction: column;
    }

    .login-detail input {
        border: 1px solid var(--color-secondary-deep);
    }

    .login-form .btn {
        padding: 15px 10px;
        font-size: 18px;
    }
}

